html, body {
  height: 100%;
}

body {
  font-family: 'Arimo', sans-serif;
  font-size: 18px;
  background-image: url("../images/circles-dark.png");
  color: #777777;
  /* sticky footer */
  display: flex;
  flex-direction: column;
}

h1, h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #4aaaa5;
  font-weight: bold;
  margin-bottom: 18px;
}

h1 {
  font-size: 28pt;
}

h2 {
  font-size: 18pt;
}

hr {
  margin-bottom: 18px;
}

p {
  margin-bottom: 25px;
  line-height: 2.2;
}


/* HEADER / NAVIGATION */
#header {
  margin-bottom: 30px;
  width: 100%;
  background: white;
  border-bottom: 4px solid #cccccc;
}

#nav_container {
  width: 960px;
  margin: 0 auto;
  overflow: auto;  
}

#logo {
  float: left;
  padding: 30px 45px 30px 45px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 32px;
  font-weight: bold;  
  color: white;
  text-decoration: none;
  background-color: #4aaaa5;
}

#logo:hover {
  background-color: #105855;
}

#nav {
  float: right;
  padding-top: 37px;
  font-size: 22px;  
  color: #cccccc;
}

#nav a{
  margin-left: 30px;
  margin-right: 30px;
  color: #777777;
  text-decoration: none;
}

#nav a:last-child{
  margin-right: 0px;
}

#nav a:hover{
  color: #4aaaa5;
}

#nav a:active{
  color: #dddddd;
}

/* MAIN CONTENT */
#content_wrapper {
  padding: 0;
  margin: 0 auto;
  width: 960px;
  clear: both;
  overflow: auto;
   /* sticky footer */
  flex: 1 0 auto;
}

#content {
  padding: 35px 35px 30px 45px;
  width: 580px;  
  float: left;
  background: #fff;
  border: 1px solid #dddddd;
}

#sidebar {
  float: right;
  margin-left: 20px;
  padding: 20px;
  width: 220px;
  background: #fff;
  border: 1px solid #dddddd;
}

/* ABOUT ME PIC */
#profile_pic {
  float: left;
  width: 33%;
  height: 33%;
  margin: 10px 30px 5px 0px;
  padding: 10px;
  background: #cccccc;
}

#profile_pic:hover {
  background: #4aaaa5;
}

/* PORTFOLIO */
.portfolio_img_sm {
  margin-top: 20px;
  margin-bottom: 15px;
  padding: 10px;
  background: #cccccc;
}

.portfolio_img_sm:hover {
  background: #4aaaa5;
}

#left_col {
  width: 50%;
  float: left;
}

#right_col {
  width: 47%;
  float: right;
}

/* CONTACT FORM */
#form_container {
  padding-right: 15px;
}

label {
  font-weight: bold;
  margin-bottom: 10px;
  display: block;
}

input {
  padding: 5px;
  width: 100%;
  margin-bottom: 25px;
}

/* input:focus {
  color: #fff;
  background: #105855;
} */

textarea {
  padding: 5px;
  width: 100%;
  height: 60px;
  margin-bottom: 20px;
}

/* textarea:focus {
  color: #fff;
  background: #105855;
} */

#submit{
  padding: 5px;
  width: 100px;
}

/* FOOTER */
#footer {
  margin-top: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 12px;
  text-align: center;
  color: #cccccc;
  background: #666666;
  border-top: 5px solid #4aaaa5;
  clear: both;
  /* sticky footer */
  flex-shrink: 0;  
}

@media only screen and (max-width: 640px) {

  #content_wrapper {
    padding: 0;
    margin: 0 auto;
    width: 600px;
    clear: both;
    overflow: auto;
     /* sticky footer */
    flex: 1 0 auto;
  }
  #sidebar {
    clear: both;
    float: left;
  }
}